%default-grid {
	display: grid;
	grid-template-columns: minmax(2.5%, auto) minmax(30rem, 62rem) minmax(2.5%, auto);
//	@include media("<medium") {
//		grid-template-columns: 10px 1fr 10px;
//	}
	grid-template-rows: auto;
	column-gap: 0;
	row-gap: 0;
}

body {
	@extend %default-grid;
	grid-template-areas: 
		"nav nav nav"
		"header header header"
		". main ."
		"footer footer footer";
}

.top-bar {
	justify-content: center;
}

.menu {
	width: 62rem;
}

.nav-menu {
	grid-area: nav;
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	margin-top: $global-margin * 3;
}

footer {
	grid-area: footer;
	background: $black;
}

.glightbox {
	img {
		width: 32%;
		height: auto;
		margin-bottom: .5%;
	}
}