---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Updated YDS Proposal</h1>

  <p>You can read more about the what and why on the <a href="related.html">related thoughts</a> page, basically it's breaking up exposure and movement technique and adding more modifiers to classes 2-4 similar to what class 5 has. Major structural issues that are under consideration are listed in <a href="https://github.com/erutan/backpacker-yds/issues">this github repo</a>, feel free to comment or add a new one!</p>

  <h2>Classes (movement over terrain)</h2>

  <p>Classes are used to break down the 'types of movement' or 'modes of travel' over terrain (focusing on off-trail / cross country / XC) and the general level of technique required. They are abstractions and do not always directly map to difficulty or how preferable a route is. They are meant to be a basic check on expectations for what is considered "on route".</p>

  <h3>Class 1: Walking</h3>

  <p>This terrain encompasses the following, and falls into what would be within expectations for a maintained trail:</p>

  <ul>
    <li><strong>Casual:</strong> walking on wide very even low angle ground. Little to no attention needs to be paid to footing.</li>
    <li><strong>Attentive:</strong> easy terrain can be narrower (step aside to let someone pass) and there are obstacles to avoid though you can generally step on a flat or nearly flat surface. This could also be a moderately high angle slope where traction isn't guaranteed. You have to look down at your feet occasionally, but it's not that much harder than casually walking.</li>
    <li><strong>Surefooted:</strong> you are moving over small stable talus, roots, or other obstacles and have to step on uneven or angled surfaces, but the obstacles aren't large or difficult enough to require the use of hands.</li>
  </ul>

  <p>If going off-trail you are assumed to be capable of moving surefootedly. Routefinding is generally straightforward.</p>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/1-acadia.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="This would normally be an easy slab walk, but ice and snow make it more challenging. Conditions are important even with Class 1!">
        <img src="assets/img/thumbs/1-acadia.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/1-steeves.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="On the flip side, snow can turn what is normally uneven Class 2 terrain on Steeve's Pass into easy Class 1. Just make sure you don't punch through!">
        <img src="assets/img/thumbs/1-steeves.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/1-escalante.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="Certainly off trail, but not challenging at all.">
        <img src="assets/img/thumbs/1-escalante.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/1-paria.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="Simpler to walk than many trails!">
        <img src="assets/img/thumbs/1-paria.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/1-horsecamp.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="Slightly uneven, but still easily walkable.">
        <img src="assets/img/thumbs/1-horsecamp.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/1-ionian.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="Even in rugged Ionian Basin you can stumble across those classic 'grassy ramps' Secor mentions so fondly. :)">
        <img src="assets/img/thumbs/1-ionian.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/1-sphinx.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="And a matching granite ramp with Bubbs Creek in the background.">
        <img src="assets/img/thumbs/1-sphinx.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/1-unnamed.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="A mellow off-trail nameless canyon.">
        <img src="assets/img/thumbs/1-unnamed.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/1l-longley.jpg" class="glightbox" data-gallery="c1" data-title="Class 1" data-description="Is it even worth mentioning this is technically 1 L G? Either way it's more straightforward than the drop to Lake Reflection. :)">
        <img src="assets/img/thumbs/1l-longley.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h3>Class 2: Using hands for assistance</h3>

  <p>This is moving over more rough or rugged terrain that is uneven or steep enough that it'd be reasonable to expect people to occasionally use their hands (or trekking poles) to maintain traction (balance, pushing or pulling off obstacles, extra point of contact, but walking/hiking and not moving from hold to hold). It can be broken down into 3 sub-grades:</p>

  <ul>
    <li><strong>2-</strong> (or 2 easy): You need to occasionally place a hand on a piece of talus or steep slab to steady yourself. Depending on your direction, conditions, and experience some could do it hands free, but the obstacles are large enough using hands for balance is reasonable.</li>
    <li><strong>2:</strong> The terrain is rugged enough that you are regularly using your hands for balance, or pushing off of them to boost yourself up or down larger obstacles. This can also be steep slab that require tight routefinding to move on safely or a slope with poor traction where trekking poles maintain traction as boots slip.</li>
    <li><strong>2+</strong> (or 2 hard): You are mantling or dropping off of larger obstacles that can't simply walk up, but not quite "climbing". This includes reaching up to the top of a ledge to pull yourself up, holding onto the top and dropping down it, using your hands to hold onto a steep slope while mostly walking up it, clambering on and off large deadfall, etc. You might be a couple feet off the ground but quickly standing up again.</li>
  </ul>

  <p>Technique, experience, pack weight, weather, direction, height, fitness, and other factors can impact subjective perception - it doesn't mean you're off-route if something is rated 2 but it feels 2+, but you shouldn't be actually climbing from hold to hold suspended off of the ground for more than a move or two.</p>

  <p>Routefinding can become quite complex, as portions of the route are often obscured.</p>

  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Safety Note</a>
      <div class="accordion-content" data-tab-content>
        <p>Carrying a heavy and/or unbalanced pack can greatly impact traversal on Class 2 terrain. Packs that are suspended off of your back are nice on trail, but shift your center of gravity more. While packs are generally expected to be carried through Class 2 terrain, there can be spots where one needs to squeeze through large blocks of talus, under a chockstone or fallen tree, etc where they'd be taken off and passed through. There's a LOT of variety in Class 2 terrain, if you're new to moving over Class 2 it's highly recommended to do further research! Rating systems are useful as shorthand but don't capture every aspect of reality.</p>

        <p>Travel with a full pack may be awkward or uncomfortable, but 2+ generally won't cause someone turn back. It is usually possible to lift your pack over the obstacle and go up unencumbered. If you're not comfortable mantling or dropping off ledges, carrying a length of ~10ft static rope can be useful for lowering your pack down obstacles (or pulling it up after you) so you can do it unencumbered can help.</p>
      </div>
    </li>
  </ul>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/2-baxter.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="Endless talus, everyone's favorite Class 2. Didn't move around much, just tedious, and far better than the chossy northern approach.">
        <img src="assets/img/thumbs/2-baxter.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2-gemini.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="This class 2 section was wet from the previous days rain, add on the weight of a full pack and use of hands was deemed prudent. It's still Class 2 terrain as it'd be walkable up dry even though it's a bit steep.">
        <img src="assets/img/thumbs/2-gemini.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2-gray.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="A fun small ledge that gave a nice cut around a fin on the way from Gray to Red Passes. The drop off the side is smaller than it looks in the photo.">
        <img src="assets/img/thumbs/2-gray.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2-jt.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="Grippy JTree granite is fun to hop around on after knocking a useless cairn over.">
        <img src="assets/img/thumbs/2-jt.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2-baxter.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="Completely stable talus, but still somewhat slow going. The mesa below looks like a much more pleasant Class 1.">
        <img src="assets/img/thumbs/2-baxter.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2-sharktooth.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="The ridge just below Sharktooth peak acted as a great safe Class 2 bypass of Anne Margaret Pass.">
        <img src="assets/img/thumbs/2-sharktooth.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2-merced.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="Entirely even surface, but steep enough to put a hand down to keep from sliding into the water below.">
        <img src="assets/img/thumbs/2-merced.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2-tarn.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="This little crack is about as technical as Class 2 gets. :)">
        <img src="assets/img/thumbs/2-tarn.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2-white.jpg" class="glightbox" data-gallery="c2" data-title="Class 2" data-description="A little bit of this, a little bit of that, but all within the normal range of Class 2.">
        <img src="assets/img/thumbs/2-white.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2.5-aravaipa.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="Step on the rock my left leg is on, get a leg up on the right, pull yourself up. Not difficult, but it's more than just uneven ground but not really 'climbing'.">
        <img src="assets/img/thumbs/2.5-aravaipa.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2.5-beetlebug.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="A short awkward drop, but not enough to bother routefinding around. A peak bagger would call this Class 2, but a typical backpacker would think of it more as climbing.">
        <img src="assets/img/thumbs/2.5-beetlebug.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2.5-feather.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="A set of mantles just below feather pass in otherwise standard Class 2 terrain.">
        <img src="assets/img/thumbs/2.5-feather.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2.5-pilot.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="Pilot Knob, like Observation Peak, has talus large enough in what is traditionally described as Class 2 terrain that use of hands was needed despite it not feeling like full on Class 3 climbing. ">
        <img src="assets/img/thumbs/2.5-pilot.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2.5-gc.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="A simple crux to an old Class 2 route. If going up you could toss your pack on the boulder behind my partner and get up in two moves. ">
        <img src="assets/img/thumbs/2.5-gc.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2.5-jt.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="There's a theme here.">
        <img src="assets/img/thumbs/2.5-jt.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2.5-sharktooth.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="A jumble of large talus on Sharktooth ridge provided the only non-typical Class 2 moment.">
        <img src="assets/img/thumbs/2.5-sharktooth.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2.5-sphinx.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="Maybe a true Class 2 route could be found on the south side of Sphinx Pass, but it didn't seem worth the bother. Dropping down to a new shelf was easy enough.">
        <img src="assets/img/thumbs/2.5-sphinx.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h3>Class 3: Simple Climbing</h3>

  <p>You are using both hands to hang and hold onto rock (or roots) and climb, while the holds are large and easy to locate, your feet need to find footholds to continue ascending as your hands move to new handholds. Simple climbing is intuitive and kind of "jungle gymish". Your feet will be off the ground and supporting your weight as you climb. Climbing/approach oriented footwear helps, but anything you can hike well in should handle class 3 ok.</p>

  <p>Adding in the fall risk modifiers further down will help clarify what "Class 3" means for a route - a lot of people would be comfortable on 3 PG but not 3 X.</p>

  <p>Secor's favorite description was given by Steve Roper: "Imagine climbing a steep, narrow staircase outside of a tall building without benefit of a railing: scary but easy."</p>

  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Safety Note</a>
      <div class="accordion-content" data-tab-content>
        <p>It's "simple" climbing, but carrying a fully loaded pack up Class 3 can be VERY different from doing it unladen. The extra weight makes vertical moves more difficult - more critically your center of balance may be further away from the rock pulling you away from it and pack itself can become a physical obstacle if going up a crack or relatively tight space. If using trekking poles, they'd generally be tucked away. It's not fun having one get stuck in a 15 foot crack halfway up it and having to downclimb and try and work it out while hanging onto rock.</p>
        <p>If you aren't experienced carrying a loaded pack up Class 3, it can help to travel with someone more experienced who can shuttle your pack up, explain and demonstrate the route, and if necessary wait at the top to grasp your wrist or stay at the bottom to spot you and or push your feet onto holds and call out moves. Trip leaders - it's on you to make sure novices make it safely up Class 3 with minimal risk and psychological damage.</p>
        <p>There is no limit to the height of such terrain, and exposure risk can be involved especially if bagging a peak or traversing a narrow ridge. If novices are along it can be a good idea to be prepared to provide a rope and requisite gear to belay them if they feel uncomfortable.</p>
      </div>
    </li>
  </ul>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/2.5-valor.jpg" class="glightbox" data-gallery="c25" data-title="Class 2+" data-description="This little chute near the top of Valor pass would be on the easier side of Class 3.">
        <img src="assets/img/thumbs/2.5-valor.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-valor.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="The crux of the solid way up valor pass, this was an easy fat crack with a nice foothold chockstone wedged in the middle.  This is far preferable to some of the sketchy class 2 passes I've been over!">
        <img src="assets/img/thumbs/3-valor.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-bear.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="Large holds and a relatively low angle made this simple even with a full pack, but we're basically into proper climbing now, even if it's straightforward. Scouting an alternate route because it was there.">
        <img src="assets/img/thumbs/3-bear.jpg" alt="image" />
      </a>
    </li>

<!--
    <li>
      <a href="assets/img/3-bear2.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="A long enough pitch that it qualifies as Class 3 even if it's not that much harder than a lot of 2+">
        <img src="assets/img/thumbs/3-bear2.jpg" alt="image" />
      </a>
    </li>
-->
    <li>
      <a href="assets/img/3-copper.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="Climbing up a microcliff in a gully in the southwest to avoid bushbashing. :D">
        <img src="assets/img/thumbs/3-copper.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-granite.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="Jammed up this thick crack with a full pack, I guess we just didn't want to backtrack and go around it or something. A little bit smaller or steeper and this would fall into Class 4.">
        <img src="assets/img/thumbs/3-granite.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-jt.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="Climbing down a drainage in JTree, trying not to keep my feet dry.">
        <img src="assets/img/thumbs/3-jt.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-little.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="Climbing up a weak spot on a cliff wall to see what an off-trail lake is like. Relatively short sustained climbing with large holds, but we were glad to be doing it as a dayhike jaunt vs carrying full packs. ">
        <img src="assets/img/thumbs/3-little.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-marion.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="The typical 2 L chute taken down to Lake Marion elicited a nope, so we went looking for another option. Here my partner is avoiding the longer Class 2 slab traverse I took by climbing up the crack below. Everyone has their own preferences.">
        <img src="assets/img/thumbs/3-marion.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-marion2.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="Going one chute over from the old Sierra Club / Roper one has this straightforward Class 3 leading to a nice mellow ramp down the lake. Just because a route was chosen for mules doesn't mean people will prefer it (though some will and do).">
        <img src="assets/img/thumbs/3-marion2.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-north.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="Saw this Class 3 route up North Col and thought it looked more fun than continuing along looking for the sandy 2/2+ route further on. Large holds, wide cracks, and lots of boulders to rest on.">
        <img src="assets/img/thumbs/3-north.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3-colby.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 PG" data-description="Obviously off-route dropping from from Midway mountain towards Colby lakes (mid-trip re-route using the summit as a pass with only Secor as beta), but still easy to climb down with a full pack with a nice stopping point in the middle.">
        <img src="assets/img/thumbs/3-colby.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h3>Class 4: Climbing (rope recommended)</h3>

  <p>A noticeable step up from class 3 in terms of technique required. Class 4 is vertical or very close to it, with smaller holds and is often exposed (though it can also be a short but more technical section that would fall under the PG modifier below). It can be a little tricky to figure out and require some proper rock climbing techniques, but it's still relatively straightforward. Class 4 generally should not be done with a full pack. Having at least approach shoes or "high route boots" is highly recommended - footwear with roomy floppy toe boxes are comfortable on trail but are likely to slip off smaller holds. Rope is advised to be be in use though experienced individuals will often go without at their own risk.</p>

  <p>Expect overlap in the lower difficulties of Class 5 (up to around 5.5) inside what's considered Class 4. If that seems dumb and you're interested in geeking out on technical details, this is <a href="https://www.summitpost.org/class-four-is-a-myth-problems-in-yds/891794">an epic rant on Class 4</a>. Class 4 is kind of a mess, but it's still a useful tool for describing moving over terrain. You can think of it as Class 3+ <em>or</em> 5-.</p>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/4-box.jpg" class="glightbox" data-gallery="c4" data-title="Class 4 PG" data-description="Had to go back to the van and change my shoes as the sloppy midtops couldn't get up this wall. Even a pair of Merrel moabs was good enough to get me up above the dryfall. More technique is required, and I was glad to someone spot holds for me on the way down!">
        <img src="assets/img/thumbs/4-box.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/4-cat.jpg" class="glightbox" data-gallery="c4" data-title="Class 4 PG" data-description="Climbing out of a wash to bypass a Class 5 rappel down a dryfall. Fun with daypacks, but required a bit more precision.">
        <img src="assets/img/thumbs/4-cat.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/4-escalante.jpg" class="glightbox" data-gallery="c4" data-title="Class 4 PG" data-description="The lack of any holds made getting up here a bit of furious scrabbling of friction smears. Unexposed with soft sand below, so gave it a shot. Took more than one try.">
        <img src="assets/img/thumbs/4-escalante.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/4-spooky.jpg" class="glightbox" data-gallery="c4" data-title="Class 4 PG" data-description="Again the lack of any holds and the smoothed rock made this a surprisingly challenging ascent for something which is part of a standard tourist loop.">
        <img src="assets/img/thumbs/4-spooky.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h3>Class 5: Technical Climbing (rope expected)</h3>

  <p>Class 5 been updated throughout the years as a living document. What most people visualize as Class 5 realistically starts around 5.5 or 5.6.</p>

  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Backpacker Note</a>
      <div class="accordion-content" data-tab-content>
        <p>Having some knowledge of how to climb Class 5 makes Class 2+ and 3 much more manageable as you'll have techniques and mental models that translate over to simpler terrain. It could be worth signing up for an introductory course at a local climbing gym if one is available.</p>
      </div>
    </li>
  </ul>

  <h2>Class 1-3 Terrain Modifiers</h2>

  <p>These are used to point out consequential aspects of the terrain itself (as opposed to how you move on it) that could increase risk or discomfort to someone otherwise generally comfortable with the class of movement they're doing. Occasionally wobbly talus or some dirt/duff/scree that moves around a bit is considered within the normal bounds of standard terrain. The lack of a modifier doesn't mean that everything is perfectly stable - just that there shouldn't be any significant impacts under normal conditions.</p>

  <h3>L - Loose</h3>

  <p>This is smaller talus, deep sand, gravel, scree, or duff which shifts when stepped on, but self-brakes (stops itself via friction) within a foot or so and will not cause a landslide. This terrain is generally much more pleasant to go down (boot ski) than up (slogging two steps up, one step down).</p>

  <p>This can include:</p>

  <ul>
    <li>Class 1: Boot skiable sand or small scree (with or without avoidable obstacles)</li>
    <li>Class 2: Football+ sized talus that shifts and wobbles but mostly settles back into itself.</li>
    <li>Class 2: Football+ sized talus that slides a little on the slope and but then settles back and is "self-braking".</li>
    <li>Class 3: A slope which is steep but loose enough you need to hold on to it / dig in your trekking poles in order to go up or down it.</li>
  </ul>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/2l-dragon.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 L" data-description="This looks worse than it was, both dirt and small talus would self-brake within a foot or so, making for a relatively straightforward descent. ">
        <img src="assets/img/thumbs/2l-dragon.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2l-gemini.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 L" data-description="The lower angle part of the eastern approach to Gemini pass was merely loose, once it steepened below the difference in angle led to it being collapsing.">
        <img src="assets/img/thumbs/2l-gemini.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2l-longley.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 L" data-description="The cornice was easily bypassable in late spring of 2022, with a fun loose sandy jog down from it. ">
        <img src="assets/img/thumbs/2l-longley.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2l-longley2.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 L" data-description="Another perspective, since this is pretty quintessential 'loose' terrain. ">
        <img src="assets/img/thumbs/2l-longley2.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2l-white.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 L" data-description="A bit of talus slog up on the other side, but a fun jog down!">
        <img src="assets/img/thumbs/2l-white.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2l-junction.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 C" data-description="Dropping down Junction Pass (the old JMT is obliterated for most of this stretch) is all loose if you routefind around the big stuff (which can get enough momentum to slide into a collapse). When in doubt stay as far away from the big stuff as you can!">
        <img src="assets/img/thumbs/2l-junction.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3l-vc.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 L PG" data-description="If there was any exposure I wouldn't have tried to climb up this crumbling surface - we kept an eye on the embedded boulders above. A fairly rare case of loose 3.">
        <img src="assets/img/thumbs/3l-vc.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h3>C - Collapsing</h3>

  <p>The extreme version side of looseness, where talus or scree will go into a lengthy landslide that can either impact or (partially) bury someone or the terrain is fragile enough to break into falling pieces.</p>

  <p>This can include:</p>

  <ul>
    <li>Class 2: A slope of scree that will slide a few feet above and below you. This can be near impossible to ascend, but enjoyable to ski if you have the technique and psyche.</li>
    <li>Class 2: Talus that can slide dozens of feet above and below you. Zig zagging out of the slide path is critical.</li>
    <li>Class 2: Large talus that can be triggered into falling or rolling by moving near or on it.</li>
    <li>Class 3-5: Climbing on fragile rock that can break off from the force exerted on it by climbing, or unstable talus (generally above the angle of repose, 45°) that can collapse into a slide from the act of climbing it. This is known as choss or chossy.</li>
  </ul>

  <p>Note: Terrain which is normally relatively stable can become collapsing when saturated with early-season snowmelt, or during or immediately after heavy rain. Passes that traditionally held snow but due to climate change are now often snow free in the summer can be particularly dangerous as it's likely there may not be enough sand/dirt/gravel around talus to anchor it.</p>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/2c-anne_marg.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 C" data-description="The large piece of talus that fell and shattered just behind me made Anne Margaret pass a no go without significant snow coverage in my book.">
        <img src="assets/img/thumbs/2c-anne_marg.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2c-baxter.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 C" data-description="The chute on the right contained unstable talus - my partner went up it, I kept to the side and then took the straightforward but more technical solid Class 3 to the left. This wasn't as bad as the upper chute for the SoSHR bypass on the north ridge of Baxter. :|">
        <img src="assets/img/thumbs/2c-baxter.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2c-dragon.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 C" data-description="This chute on the east side of Dragon Pass dislodged a couple hundred pounds of talus onto my partner. Knowing where and how to step on steep talus embedded in sand is critical.">
        <img src="assets/img/thumbs/2c-dragon.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2c-gemini.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 C" data-description="I had fun bootskiing down the 2 C on the right once my partner was clear below postholing down the snow. The talus slid 3-4 feet above me and 2-3 feet below me, but wasn't large enough to concern me. That opinion wasn't shared, and the steep snow next to it gave nice his and hers options. :)">
        <img src="assets/img/thumbs/2c-gemini.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2c-unnamed.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 C" data-description="This looked like a promising pass on Topo... noped out seeing how all that rock was precariously stacked up.">
        <img src="assets/img/thumbs/2c-unnamed.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h3>S - Skidding / Sliding</h3>

  <p>Terrain which stays stable but on which your feet can skid or slide off of. A common form of this terrain is sand or pebbles on top of otherwise hard packed dirt or slab, which is often explained as walking on ball bearings. Going up is generally preferred in order to have more control - when going down your momentum can easily lead to a loss of traction. Poles can help depending on the surface if a boot slides out. Heavily used trails can generate this terrain, as foot traffic perpetually kicks up dirt and sand onto granite.</p>

  <p>Skidding terrain which is also exposed (like King Col) should only be done with extreme caution, as losing traction could be fatal.</p>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/2s-jt.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 S" data-description="The sand on granite here made for a precarious ascent up this boulder. ">
        <img src="assets/img/thumbs/2s-jt.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h3>B - Bushbashing</h3>

  <p>Bushes are at least waist high and there are no paths between them - you literally have to use your arms to push (bash) your way forward though them. Occasional bushes one has to brush past or areas of brush with paths weaving through them are just a part of life.</p>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/1b-cart.jpg" class="glightbox" data-gallery="c1" data-title="Class 1 B" data-description="Cartridge Creek definitely has a handful of proper bushbashing sections.">
        <img src="assets/img/thumbs/1b-cart.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h2>Class 1-4 Fall Risk Modifiers</h2>

  <p>Class 5 has "movie rating" risk modifiers regarding the distance between aid placement - for unroped travel in Class 1-4 terrain they will refer to the general risk associated with a fall due to <a href="https://en.wikipedia.org/wiki/Exposure_%28heights%29">exposure</a>. It's worth noting that you can sprain your ankle stumbling in a parking lot or crack your head open tripping on a sidewalk, so you're never risk free. :)</p>

  <h3>G - Trivial</h3>

  <p>You might trip, but if you do you aren't going to fall any further than the ground under your feet. Class 1 is assumed to be G. This normally won't be used in a rating.</p>

  <h3>PG - Short Falls Possible</h3>

  <p><strong>Terrain:</strong> You are are using your hands for balance on talus, going up a moderately steep slope, mantling up to a higher ledge, near a micro-cliff, or on a very short scramble or climb. You may fall, but it generally won't be more than 5-10 feet above the ground. Still enough to do damage if you land wrong though.</p>

  <p><strong>Psyche:</strong> Some people will be very uncomfortable, but the vast majority will be aware of it but not be too worried depending on the class of terrain they're going over (the lower the simpler, and hence in general a lower risk of falling).</p>

  <ul>
    <li>Class 2: this defaults to being PG though generally has a lot of G terrain within a route.</li>
    <li>Class 3: Your feet are off the ground and on footholds and you are still moving from hold to hold, but only for a handful of moves. The crack at the top of Valor Pass is a good example of this. This is generally a short burst to gain a ridge or peak or get up a small cliffband.</li>
    <li>Class 4/5: This can be difficult to do with a full pack or inadequate footwear despite not being very long.</li>
  </ul>

  <p>Note: Class 4 terrain is traditionally expected to be a long exposed approach to a peak, but this more technical terrain can still pose a significant obstacle to someone, especially with a large pack on, even when less than 10 feet high. Labeling Class 3 or 4 sections "PG" indicates a more advanced type of movement over terrain even if it isn't what a climber or mountaineer would consider exposed. See photos above of Class 3 & 4 for examples of PG.</p>

  <h3>R - Indirect Long Falls</h3>

  <p><strong>Terrain:</strong> You could have a long fall (likely fatal or ending in serious injury), but there's enough space between you and the drop that you could still likely recover from a mistake or loss of traction without falling (or have it be a short fall instead). Serious injury or death is still possible on this terrain, but it wouldn't be expected and you'd have to fail rather spectacularly.</p>

  <p><strong>Psyche:</strong> People with a "head for heights" will notice the risk but not be overly concerned by it, especially on simpler terrain (lower classes), but people that are sensitive to heights could be very uncomfortable.</p>

  <ul>
    <li>Class 1-2: Wide ledges with a large drop or a steep slope with a drop after it that you could self-arrest (stop yourself on).</li>
    <li>Class 3-5: Very ledgey terrain where you would likely fall to the ledge below you, or the one below it, rather than to your death.</li>
  </ul>
  <ul class="lightbox-container">
    <li>
      <a href="assets/img/1r-page.jpg" class="glightbox" data-gallery="c1" data-title="Class 1 R" data-description="While Class 1 is generally unlikely to have anything other than a B on it, this is simple walking relatively far from an edge but could definitely unnerve people sensitive to exposure. ">
        <img src="assets/img/thumbs/1r-page.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2r-baxter.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 R" data-description="The north ridge of Baxter feels a bit airy but stable and safe if you give it some respect. ">
        <img src="assets/img/thumbs/2r-baxter.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2r-canyon.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 R" data-description="Fatal exposure on either side of this natural bridge, but it's wide and stable enough to be a fun walk. ">
        <img src="assets/img/thumbs/2r-canyon.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2r-merced.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 R" data-description="Simple slab walking... aside from the long slide down if you'd lose traction! ">
        <img src="assets/img/thumbs/2r-merced.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3r-ursula.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 R" data-description="Some easy short (but more than a mantle) climbs with wide ledges and a fatal drop below. It looks more exposed than it felt at the time, and less so than the wide angle 2 X slab example further up.">
        <img src="assets/img/thumbs/3r-ursula.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3x-dragon.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 R" data-description="In attempting to bypass the previous 2 C chute, we ended up on some Class 3 that was more exposed than it looked from below.">
        <img src="assets/img/thumbs/3x-dragon.jpg" alt="image" />
      </a>
    </li>
  </ul>

  <h3>X - Direct Long Falls</h3>

  <p><strong>Terrain:</strong> The terrain allows for longer falls that are "directly exposed" enough there is very little to no margin to recover from a loss in traction. A single mistake could easily lead to serious injury or death.</p>

  <p><strong>Psyche:</strong> Most people will be uncomfortable on this terrain regardless of it's simplicity or complexity, and even those that are comfortable being on it must take it seriously.</p>

  <ul>
    <li>Class 1: Narrow but even ledges where a loss of traction would lead to a fatal drop.</li>
    <li>Class 2: Narrow uneven ledges, very steep slab, or a stairsteppy cliff face.</li>
    <li>Class 3-5: Climbing on a long ~vertical slope where a fall would be fatal.</li>
  </ul>

  <ul class="lightbox-container">
    <li>
      <a href="assets/img/2x-mcgee.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 X" data-description="The snow at the bottom would be a nice cushion (and I had my ice axe in hand to self-arrest or at least slow myself down), but it's a long steep drop down.">
        <img src="assets/img/thumbs/2x-mcgee.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2x-ursula.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 X" data-description="Not knife edge, but a steep tumble down to a fatal drop. I was much more cautious here than the Class 3 ledges earlier.">
        <img src="assets/img/thumbs/2x-ursula.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2x-unnamed.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 X" data-description="Easy if narrow walk on a little crack dropping down from an unnamed point overlooking Hester Lake. ">
        <img src="assets/img/thumbs/2x-unnamed.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/2x-unnamed2.jpg" class="glightbox" data-gallery="c2" data-title="Class 2 X" data-description="I walked up this, but butt scooted down it due to the gap in the boulders below me that led to a couple hundred foot shortcut down. Straightforward Class 2 without the exposure. ^^;">
        <img src="assets/img/thumbs/2x-unnamed2.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3x-lj.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 X" data-description="Delayed hopping over to the proper chute up at a split going up Little Joe because the one we were on was stable and fun and stayed in it a bit too long. While not a vertical drop, a backwards drop would include a lot of tumbling over talus. Large holds kept it in Class 3.">
        <img src="assets/img/thumbs/3x-lj.jpg" alt="image" />
      </a>
    </li>

    <li>
      <a href="assets/img/3x-mal.jpg" class="glightbox" data-gallery="c3" data-title="Class 3 X" data-description="Lots of little ledges and very easy rock with chonky blocks made going up this straightforward climbing. Looking at the photo later was more unnerving due to the exposure.">
        <img src="assets/img/thumbs/3x-mal.jpg" alt="image" />
      </a>
    </li>
  </ul>
</Layout>
