---
const { currentPath } = Astro.props;
const isIndex = currentPath === '/' || currentPath === '/index.html';
const isRelated = currentPath === '/related' || currentPath === '/related.html';
---

<div class="nav-menu" data-sticky-container>
  <div data-sticky data-options="marginTop:0;" data-sticky-on="small">
    <nav class="top-bar">
      <ul class="menu">
        <li class={isIndex ? 'nav-active' : ''}><a href="/index.html">Proposed System</a></li>
        <li class={isRelated ? 'nav-active' : ''}><a href="/related.html">Related Thoughts</a></li>
      </ul>
    </nav>
  </div>
</div>
