---
const { currentPath } = Astro.props;
const isIndex = currentPath === '/';
const isRelated = currentPath === '/related/';
---

<nav class="top-bar">
  <ul class="menu">
    <li><a href="/" class={isIndex ? 'active' : ''}>Proposed System</a></li>
    <li><a href="/related/" class={isRelated ? 'active' : ''}>Related Thoughts</a></li>
  </ul>
</nav>
